
@import "tailwindcss";

@theme {
  --color-brand-primary: #252525;
  --color-brand-soft: #f4f4f5;
  --color-brand-second: #6366f1;

  --color-neutral-background: #fafafa;
  --color-neutral-surface: #ffffff;
  --color-neutral-border: #e4e4e7;
  --color-neutral-divider: #f4f4f5;

  --color-text-primary: #18181b;
  --color-text-secondary: #71717a;
  --color-text-muted: #a1a1aa;
}

body {
  background-color: var(--color-neutral-border); /* PC 배경은 회색으로 구분 */
  color: var(--color-text-primary);
  font-family: ui-sans-serif, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
}
